<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.mapper.ex.AppNoticeSettingExMapper">
  <cache-ref namespace="com.tk.mapper.AppNoticeSettingMapper" />
  <insert id="insertBackId" parameterType="com.tk.model.AppNoticeSetting" keyProperty="id" useGeneratedKeys="true">
    insert into app_notice_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="text != null" >
        TEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="text != null" >
        #{text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>