<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.mapper.ex.BasBusinessExMapper">
  <cache-ref namespace="com.tk.mapper.BasBusinessMapper" />
  <insert id="insertBackId" parameterType="com.tk.model.BasBusiness" keyProperty="id" useGeneratedKeys="true">
    insert into bas_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="typeid != null" >
        TYPEID,
      </if>
      <if test="typename != null" >
        TYPENAME,
      </if>
      <if test="typeiid != null" >
        TYPEIID,
      </if>
      <if test="typenname != null" >
        TYPENNAME,
      </if>
      <if test="provinceid != null" >
        PROVINCEID,
      </if>
      <if test="provincename != null" >
        PROVINCENAME,
      </if>
      <if test="cityid != null" >
        CITYID,
      </if>
      <if test="cityname != null" >
        CITYNAME,
      </if>
      <if test="districtid != null" >
        DISTRICTID,
      </if>
      <if test="districtname != null" >
        DISTRICTNAME,
      </if>
      <if test="streetid != null" >
        STREETID,
      </if>
      <if test="streetname != null" >
        STREETNAME,
      </if>
      <if test="villageid != null" >
        VILLAGEID,
      </if>
      <if test="villagename != null" >
        VILLAGENAME,
      </if>
      <if test="picurl != null" >
        PICURL,
      </if>
      <if test="info != null" >
        INFO,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="spell != null" >
        SPELL,
      </if>
      <if test="website != null" >
        WEBSITE,
      </if>
      <if test="servertime != null" >
        SERVERTIME,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="lastmodifyuser != null" >
        LASTMODIFYUSER,
      </if>
      <if test="lastmodifydate != null" >
        LASTMODIFYDATE,
      </if>
      <if test="introduce != null" >
        INTRODUCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=BIGINT},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeiid != null" >
        #{typeiid,jdbcType=BIGINT},
      </if>
      <if test="typenname != null" >
        #{typenname,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null" >
        #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="districtid != null" >
        #{districtid,jdbcType=VARCHAR},
      </if>
      <if test="districtname != null" >
        #{districtname,jdbcType=VARCHAR},
      </if>
      <if test="streetid != null" >
        #{streetid,jdbcType=VARCHAR},
      </if>
      <if test="streetname != null" >
        #{streetname,jdbcType=VARCHAR},
      </if>
      <if test="villageid != null" >
        #{villageid,jdbcType=VARCHAR},
      </if>
      <if test="villagename != null" >
        #{villagename,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="spell != null" >
        #{spell,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="servertime != null" >
        #{servertime,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=BIGINT},
      </if>
      <if test="lastmodifyuser != null" >
        #{lastmodifyuser,jdbcType=BIGINT},
      </if>
      <if test="lastmodifydate != null" >
        #{lastmodifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>