<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.mapper.ex.BasDictionaryExMapper">
	<cache-ref namespace="com.tk.mapper.BasDictionaryMapper" />
	<insert id="insertBackId" parameterType="com.tk.model.BasDictionary" keyProperty="id" useGeneratedKeys="true">
		insert into bas_dictionary
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="title != null" >
				TITLE,
			</if>
			<if test="cid != null" >
				CID,
			</if>
			<if test="pid != null" >
				PID,
			</if>
			<if test="idx != null" >
				IDX,
			</if>
			<if test="sort != null" >
				SORT,
			</if>
			<if test="flag != null" >
				FLAG,
			</if>
			<if test="memo != null" >
				MEMO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id,jdbcType=BIGINT},
			</if>
			<if test="title != null" >
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="cid != null" >
				#{cid,jdbcType=VARCHAR},
			</if>
			<if test="pid != null" >
				#{pid,jdbcType=BIGINT},
			</if>
			<if test="idx != null" >
				#{idx,jdbcType=VARCHAR},
			</if>
			<if test="sort != null" >
				#{sort,jdbcType=SMALLINT},
			</if>
			<if test="flag != null" >
				#{flag,jdbcType=TINYINT},
			</if>
			<if test="memo != null" >
				#{memo,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>