<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.mapper.ex.BusinessReplyExMapper">
  <cache-ref namespace="com.tk.mapper.BusinessReplyMapper" />
  <insert id="insertBackId" parameterType="com.tk.model.BusinessReply" keyProperty="id" useGeneratedKeys="true">
    insert into business_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="bid != null" >
        BID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="totalscore != null" >
        TOTALSCORE,
      </if>
      <if test="serverscore != null" >
        SERVERSCORE,
      </if>
      <if test="envirscore != null" >
        ENVIRSCORE,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="totalscore != null" >
        #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="serverscore != null" >
        #{serverscore,jdbcType=INTEGER},
      </if>
      <if test="envirscore != null" >
        #{envirscore,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>