<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.mapper.ex.DynamicReplyExMapper">
  <cache-ref namespace="com.tk.mapper.DynamicReplyMapper" />
  <insert id="insertBackId" parameterType="com.tk.model.DynamicReply" keyProperty="id" useGeneratedKeys="true">
    insert into dynamic_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="did != null" >
        DID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="uname != null" >
        UNAME,
      </if>
      <if test="ruid != null" >
        RUID,
      </if>
      <if test="runame != null" >
        RUNAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="kinds != null" >
        KINDS,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="ruid != null" >
        #{ruid,jdbcType=BIGINT},
      </if>
      <if test="runame != null" >
        #{runame,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="kinds != null" >
        #{kinds,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>