<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.mapper.ex.SysRoleExMapper">
	<cache-ref namespace="com.tk.mapper.SysRoleMapper"/>
	<insert id="insertBackId" parameterType="com.tk.model.SysRole"
		keyProperty="id" useGeneratedKeys="true">
		insert into sys_role (ID, TITLE,
		CODE,
		FLAG, INTRO, CREATEDATE,
		CREATEUSER, MODIFYDATE, MODIFYUSER
		)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{flag,jdbcType=TINYINT},
		#{intro,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP},
		#{createuser,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP},
		#{modifyuser,jdbcType=BIGINT}
		)
	</insert>
</mapper>