<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.mapper.BasDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.tk.model.BasDictionary" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="BIGINT" />
    <result column="IDX" property="idx" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="SMALLINT" />
    <result column="FLAG" property="flag" jdbcType="TINYINT" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TITLE, CID, PID, IDX, SORT, FLAG, MEMO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tk.model.BasDictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bas_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bas_dictionary
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bas_dictionary
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tk.model.BasDictionaryExample" >
    delete from bas_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tk.model.BasDictionary" >
    insert into bas_dictionary (ID, TITLE, CID, 
      PID, IDX, SORT, FLAG, 
      MEMO)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{pid,jdbcType=BIGINT}, #{idx,jdbcType=VARCHAR}, #{sort,jdbcType=SMALLINT}, #{flag,jdbcType=TINYINT}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tk.model.BasDictionary" >
    insert into bas_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="cid != null" >
        CID,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="idx != null" >
        IDX,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="idx != null" >
        #{idx,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tk.model.BasDictionaryExample" resultType="java.lang.Integer" >
    select count(*) from bas_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bas_dictionary
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        CID = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        PID = #{record.pid,jdbcType=BIGINT},
      </if>
      <if test="record.idx != null" >
        IDX = #{record.idx,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.flag != null" >
        FLAG = #{record.flag,jdbcType=TINYINT},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bas_dictionary
    set ID = #{record.id,jdbcType=BIGINT},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CID = #{record.cid,jdbcType=VARCHAR},
      PID = #{record.pid,jdbcType=BIGINT},
      IDX = #{record.idx,jdbcType=VARCHAR},
      SORT = #{record.sort,jdbcType=SMALLINT},
      FLAG = #{record.flag,jdbcType=TINYINT},
      MEMO = #{record.memo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tk.model.BasDictionary" >
    update bas_dictionary
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        CID = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        PID = #{pid,jdbcType=BIGINT},
      </if>
      <if test="idx != null" >
        IDX = #{idx,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tk.model.BasDictionary" >
    update bas_dictionary
    set TITLE = #{title,jdbcType=VARCHAR},
      CID = #{cid,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=BIGINT},
      IDX = #{idx,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=SMALLINT},
      FLAG = #{flag,jdbcType=TINYINT},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>