<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.mapper.BusinessReplyMapper" >
  <cache type="org.mybatis.caches.ehcache.EhcacheCache" />
  <resultMap id="BaseResultMap" type="com.tk.model.BusinessReply" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="BID" property="bid" jdbcType="BIGINT" />
    <result column="UID" property="uid" jdbcType="BIGINT" />
    <result column="FLAG" property="flag" jdbcType="TINYINT" />
    <result column="TOTALSCORE" property="totalscore" jdbcType="INTEGER" />
    <result column="SERVERSCORE" property="serverscore" jdbcType="INTEGER" />
    <result column="ENVIRSCORE" property="envirscore" jdbcType="INTEGER" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, BID, UID, FLAG, TOTALSCORE, SERVERSCORE, ENVIRSCORE, CREATEDATE, CONTENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tk.model.BusinessReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from business_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from business_reply
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from business_reply
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tk.model.BusinessReplyExample" >
    delete from business_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tk.model.BusinessReply" >
    insert into business_reply (ID, BID, UID, FLAG, 
      TOTALSCORE, SERVERSCORE, ENVIRSCORE, 
      CREATEDATE, CONTENT)
    values (#{id,jdbcType=BIGINT}, #{bid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{flag,jdbcType=TINYINT}, 
      #{totalscore,jdbcType=INTEGER}, #{serverscore,jdbcType=INTEGER}, #{envirscore,jdbcType=INTEGER}, 
      #{createdate,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tk.model.BusinessReply" >
    insert into business_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="bid != null" >
        BID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="totalscore != null" >
        TOTALSCORE,
      </if>
      <if test="serverscore != null" >
        SERVERSCORE,
      </if>
      <if test="envirscore != null" >
        ENVIRSCORE,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="totalscore != null" >
        #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="serverscore != null" >
        #{serverscore,jdbcType=INTEGER},
      </if>
      <if test="envirscore != null" >
        #{envirscore,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tk.model.BusinessReplyExample" resultType="java.lang.Integer" >
    select count(*) from business_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update business_reply
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bid != null" >
        BID = #{record.bid,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        UID = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.flag != null" >
        FLAG = #{record.flag,jdbcType=TINYINT},
      </if>
      <if test="record.totalscore != null" >
        TOTALSCORE = #{record.totalscore,jdbcType=INTEGER},
      </if>
      <if test="record.serverscore != null" >
        SERVERSCORE = #{record.serverscore,jdbcType=INTEGER},
      </if>
      <if test="record.envirscore != null" >
        ENVIRSCORE = #{record.envirscore,jdbcType=INTEGER},
      </if>
      <if test="record.createdate != null" >
        CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update business_reply
    set ID = #{record.id,jdbcType=BIGINT},
      BID = #{record.bid,jdbcType=BIGINT},
      UID = #{record.uid,jdbcType=BIGINT},
      FLAG = #{record.flag,jdbcType=TINYINT},
      TOTALSCORE = #{record.totalscore,jdbcType=INTEGER},
      SERVERSCORE = #{record.serverscore,jdbcType=INTEGER},
      ENVIRSCORE = #{record.envirscore,jdbcType=INTEGER},
      CREATEDATE = #{record.createdate,jdbcType=TIMESTAMP},
      CONTENT = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tk.model.BusinessReply" >
    update business_reply
    <set >
      <if test="bid != null" >
        BID = #{bid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        UID = #{uid,jdbcType=BIGINT},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=TINYINT},
      </if>
      <if test="totalscore != null" >
        TOTALSCORE = #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="serverscore != null" >
        SERVERSCORE = #{serverscore,jdbcType=INTEGER},
      </if>
      <if test="envirscore != null" >
        ENVIRSCORE = #{envirscore,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tk.model.BusinessReply" >
    update business_reply
    set BID = #{bid,jdbcType=BIGINT},
      UID = #{uid,jdbcType=BIGINT},
      FLAG = #{flag,jdbcType=TINYINT},
      TOTALSCORE = #{totalscore,jdbcType=INTEGER},
      SERVERSCORE = #{serverscore,jdbcType=INTEGER},
      ENVIRSCORE = #{envirscore,jdbcType=INTEGER},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>